<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>NAMES</th>
            {{!-- <th>GREETING</th> --}}
            {{!-- <th>COUNTER</th> --}}
        </tr>

        <tbody>
            <tr>
                {{#each database}}
                <td><a href="/add/{{greeted_names}}">{{greeted_names}}</a></td>
            </tr>
            {{/each}}
            </tr>
        </tbody>

    </table>
    <div class="col-md-12 back">
        <button type="submit" class="btn btn-primary">
            <a href="/back">BACK</a>
        </button>
    </div>

</div>