<table class="table table-bordered">
    <tr>
        <th>NAME</th>
        <th>LANGUAGE</th>
        <th>COUNTER</th>
    </tr>

    <tbody>
        <tr>
            {{#each database}}
            <td>{{greeted_names}}</td>
            <td>{{languages}}</td>
            <td>
                <button>
                    <a href="/add/{{greeted_names}}">count</a>
                </button>
        </tr>
        {{/each}}
        </tr>
    </tbody>

</table>