<div class="container">
  <div class="row">
    <div class="header">
      <div>
        <img src="images/happy.jpg">
        <h1>GREETINGS</h1>
      </div>
    </div>
  </div>

  <form action="/greet" method="POST">
    <form class="well form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="col-md-4 control-label">Full Name:</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input id="fullName" name="name" placeholder="enter your name here" class="form-control" value="{{enterInput}}"
                type="text">
            </div>
          </div>
        </div>

        <div class="counter" value="count">
          <b><h2>Counter: {{databaseLength}}</h2></b>
        </div>

        <div class="form-radio">
          <div class="col-md-12">
            <label class="radio-inline">
              <input type="radio" name="language" value="Hello">English</label>
            <label class="radio-inline">
              <input type="radio" name="language" value="Goeie more">Afrikaans</label>
            <label class="radio-inline">
              <input type="radio" name="language" value="Molo">isiXhosa</label>
          </div>
        </div>

        <div class="col-md-12">
          <button type="submit" class="btn btn-success">Greet Me</button>
        </div>
    </form>
  </form>

  <div class="form-button">
    <div class="col-md-12">
     <button type="submit" class="btn btn-success">
        <a href="/greeted">Greeted Names</button>
      </a>
      <button type="submit" class="btn btn-danger">
        <a href="/reset">RESET</button>
      </a>
    </div>
  </div>
        <span class="entry">{{messages.info}}</span>
        <span class="entryTwo">{{messages.infoTwo}}</span>
</div>
</div>
<hr>
</fieldset>
</div>
</div>
</body>
</body>

</html>