.container {
  background-color: white;
  font-size: 1.5em;
  text-align: center;
  margin-top: 5em;
  border: 2px solid black;
  border-radius: 100%;
}


button {
  background-color: 	#228B22;
  color: black;
  border: 2px solid #4CAF50;
  text-decoration: none;
}

button a {
  background-color: 	#228B22;
  color: black;
  text-decoration: none;
}
#reset button{
  background-color: #A52A2A;
}

.language {
  font-weight: bold;
}

h1 {
  color: black;
  font-weight: bolder;
  background-color:#FFA500;
}

.greeting {
  margin-top: 5em;
  background-color: white;
  text-align: center;
}

.counter {
  font-size: 2em;
}

.tables th{
  background-color: #FFA500;
}

.tables{
  background-color: white;
}
